<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="kr.parkingq.mapper.ReviewReplyMapper">
		<!--add comment  -->
		<insert id="insert">
			insert into reviewcomment(no, gno, id, nick, content, rdate, up_date)
			values(seq_reviewcomment.nextval, #{gno}, #{id}, #{nick}, #{content}, sysdate, sysdate)
		</insert>
	
		<select id="read" resultType="kr.parkingq.domain.reviewboard.ReviewCommentVO">
			select * from reviewcomment where no=#{no}
		</select>
		
		<delete id="delete">
			delete from reviewcomment where no=#{no}
		</delete>
		
		<update id="update">
			update reviewcomment set content=#{content}, up_date = sysdate where no=#{no}
		</update>
		
		<select id="getListWithPaging" resultType="kr.parkingq.domain.reviewboard.ReviewCommentVO">
		<![CDATA[
			select reviewcomment.rn, reviewcomment.no, reviewcomment.gno,
			lpad(reviewcomment.id,3)||rpad('*',length(reviewcomment.id)-3,'*') id,
			reviewcomment.id realId, reviewcomment.content, reviewcomment.rdate
			from (
				select *
				from (
					select rownum rn, x.*
					from (
						select * 
						from reviewcomment 
						where gno=#{gno} 
						order by no asc) x 
				where rownum <=#{pgv.pageNum}*#{pgv.amount}) y
       		 where y.rn > (#{pgv.pageNum}-1) * #{pgv.amount}) reviewcomment
			
			
			]]>
		</select>
		
		<select id="getCountByGno" resultType="int">
			<![CDATA[
				select count(no) from reviewcomment where gno=#{gno}
			]]>
		</select>
	</mapper>